pydantic==1.8.1
pymatgen>=2022.0.5
typing-extensions==3.7.4.3
maggma==0.26.0
requests==2.25.1
git+git://github.com/mkhorton/monty@patch-4#egg=monty
#monty>=2021.3.3
git+git://github.com/munrojm/emmet.git/#subdirectory=emmet-core